* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 10px;
    font-family: Roboto;
}

body, html {
    height: 100vh;
}

body {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #89FF76 no-repeat fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}